<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
    function navToggle() {
        let btn = document.getElementById('menuBtn');
        let nav = document.getElementById('menu');

        btn.classList.toggle('open');
        nav.classList.toggle('flex');
        nav.classList.toggle('hidden');
    }

    window.addEventListener('scroll', function() {
        let btt = document.getElementById('btt');

        if (window.scrollY >= 1080) {
            btt.classList.remove('hidden');
            btt.classList.add('block');
        } else {
            btt.classList.add('hidden');
            btt.classList.remove('block');
        }
    });

    console.log('Code/Design: ttntm.me'); // credit where credit is due

    const template = document.getElementById('followTip');
    const container = document.createElement('div');

    container.appendChild(document.importNode(template.content, true));

    tippy('#follow', {
        content: container.innerHTML,
        animation: 'scale',
        duration: 250,
        arrow: true,
        placement: 'bottom',
        interactive: true,
    });
</script>



<script>
    /*
                        var controller = new ScrollMagic.Controller();

                        var scrollHorizontal = new TimelineLite()
                        scrollHorizontal.to("#scrollContainer", 1, {
                            x: '-100%'
                        })

                        var horizontalScroll = new ScrollMagic.Scene({
                            triggerElement: "#scrollContainer",
                            triggerHook: 'onLeave',
                            duration: 3000
                        }).setPin("#scrollContainer").setTween(scrollHorizontal).addTo(controller);

                        */
</script>


<script>
  const target = document.querySelector('#scrollContainer')

    target.addEventListener('wheel', event => {
    const toLeft  = event.deltaY < 0 && target.scrollLeft > 0
    const toRight = event.deltaY > 0 && target.scrollLeft < target.scrollWidth - target.clientWidth

    if (toLeft || toRight) {
        event.preventDefault()
        target.scrollBy({ left: event.deltaY*4, behavior: 'smooth' });
    }
    })
</script>