<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-blue-600 text-2xl mb-6">QTS: <span
          class="text-gray-800 font-bold tracking tracking-widest">Quantum Technology Society</span></h1>
      <h2 class="font-bold tracking-widest text-4xl">Quantum Revolution is Coming</h1>
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">Talks</li>
            <li class="content__container__list__item xl:pl-3">Alumni Events</li>
            <li class="content__container__list__item xl:pl-3">Real Applications</li>
            <li class="content__container__list__item xl:pl-3">Newsletter</li>
            <li class="content__container__list__item xl:pl-3">Industry Insight</li>
            <li class="content__container__list__item xl:pl-3">Hackathons</li>
            <li class="content__container__list__item xl:pl-3">And More</li>
          </ul>
        </span>
        <p class="font-bold tracking-widest text-4xl">Get involved!</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/undraw_team_re_0bfe.svg" alt="AWE.SOME header">
    </div>
  </div>
</div>
{% for item in collections.sections %}
  {% if item.data.type === 'aim' %}
    <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">
      <div class="font-light text-black text-xl">
        {{ item.templateContent | safe }}
      </div>
    </div>
    <div class="flex flex-row w-full justify-center pb-12">
      <a class="px-10 py-2 text-gray-200 bg-blue-700 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
        href="#aim">More Information</a>
    </div>
  {% endif %}
{% endfor %}