{% for item in collections.sections %}
  {% if item.data.type === 'social' %}
    <div id="social" class="w-full flex flex-col justify-center items-center bg-gray-800 pt-16">
      <div class="self-center text-center w-full xl:w-1/2 px-4 sm:px-0">
        <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-gray-400 text-xl">
          {{ item.templateContent | safe }}
        </div>
        <div class="space-y-5 my-5 flex w-full flex-col xl:flex-row xl:space-x-5 justify-center items-center bg-gray-800">
          <div class="flex items-center w-auto ">
            <iframe class="h-[250px]" src="https://discord.com/widget?id=938794806199595018&theme=dark"  allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
          </div>
          <div class="items-center flex flex-col space-y-2 justify-center py-6">
            <a class="px-10 py-2 text-gray-200 bg-blue-600 rounded-full shadow-md text-lg hover:bg-blue-800 hover:border-red inline-flex " href="https://docs.google.com/forms/d/e/1FAIpQLScGqNynkyVH38Kl1-JyzyjkvSGI1_77dTriOQH9DLq44JkWhw/viewform">
              Register Now 
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}