<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include "head.njk" %}
</head>
<body id="top" class="font-sans text-gray-800 bg-gray-100">
  <a class="fab1" href="https://docs.google.com/forms/d/e/1FAIpQLScGqNynkyVH38Kl1-JyzyjkvSGI1_77dTriOQH9DLq44JkWhw/viewform">
    <img src="/img/newsletter.svg" width="40" height="40" class="block" alt="Newsletter">
  </a>
  <a class="fab2" style="bottom" href="https://discord.gg/8n8ugCq4hR">
    <img src="/img/discord.svg" width="40" height="40" class="block" alt="Discord icon">
  </a>
  {{ content | safe }}
  {% include "js.njk" %}
</body>
</html>