---
layout: page.njk
isFront: true
---
<header class="header w-full  flex flex-col justify-between">
  {% include "navbar.njk" %}
  {% include "section.header.njk" %}
</header>
<main>
  {% include "section.events.njk" %}
  {% include "section.newsletter.njk" %}
  {% include "section.podcasts.njk" %}
  {% include "section.social.njk" %}
</main>