---
layout: research.njk
isFront: true
---

<header class="py-1 header w-full min-h-fit flex flex-col justify-start">
  <div class=" px-6 w-full self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap items-center">
      <a href="/" class="no-underline"><img src="/img/logo.svg" alt="AWE.SOME Logo"
          class="h-12 py-1"></a>
  </div>
</header>

<main>
<h1> Research</h1>
</main>